.explanation-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .explanation-container.show {
    max-height: 500px; /* Atur max-height sesuai kebutuhan */
    opacity: 1;
  }
  